<div class="sidebar col-md-3">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Search that you need</div>
        <form method="GET" action="{{ url_for('search') }}" class="card-body d-flex">
            <input name="search_query" value="{{ request.args.get('search_query', '') }}" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Popular tags</div>
        <div class="card-body text-secondary">

            {% for tag in tags %}

            <a href="{{ url_for('tags_discussions', tag_slug=tag.slug) }}" class="tag badge bg-primary">{{ tag.name }}</a>

            {% endfor %}

        </div>
    </div>

</div>