{% extends "layouts/base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        <div style="margin: 25px 0;" class="col-md-9">

            <h1>{{ discussion.theme }}</h1>

            {% for tag in discussion.tags %}

            <a class="badge bg-secondary tag"
                href="{{url_for('tags_discussions', tag_slug=tag.slug)}}">{{ tag.name }}</a>

            {% endfor %}

            {# to avoid js injections #}
            {% set statement = '<' + 'script>' %}
            <p>{{ discussion.text | replace(statement, '') | markup}}</p>

            <p class="card-text">Created by: <a href="{{ url_for('user_profile', user_id=discussion.creator.id) }}"
                    class="text-muted">{{discussion.creator.nickname}}</a></p>

            {% if current_user.is_anonymous %}

            <div class="alert alert-warning" role="alert">
                You should be <a href="{{ url_for('auth.login') }}" class="alert-link">logged in</a> or <a
                    href="{{ url_for('auth.register') }}" class="alert-link">register</a> to leave a comments.
            </div>

            {% else %}

            <form method="POST" class="mb-3"
                action="{{ url_for('create_comment', section_slug=section_slug, theme_slug=theme_slug, discussion_id=discussion_id) }}">
                {{ form.csrf_token }}
                <div class="input-group">
                    {{ form.text(class="form-control") }}
                </div>
                <button class="btn btn-primary mt-3" name="{{ form.submit.name }}" type="submit">Leave comment</button>

                {% from 'layouts/_render_form_errors.html' import render_form_errors %}
                {{ render_form_errors(form) }}
            </form>

            {{ ckeditor.load(pkg_type='basic') }}
            {{ ckeditor.config(name='text', height=100, language='en', width=3000) }}

            {% endif %}

            {% for comment in comments %}

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2 user-info">

                        <div class="img-wrapper">
                            <img class="img-fluid user-icon" src="{{ comment.creator.get_avatar() }}">
                        </div>
                        <div style="margin-left: 13px;">
                            <small class="text-muted">{{ comment.creator.last_seen.date() }}</small>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title"><a
                                    href="{{ url_for('user_profile', user_id=comment.creator.id) }}">{{ comment.creator.nickname }}</a>
                            </h5>
                            <p class="card-text">{{ comment.text | replace(statement, '') | markup }}</p>
                            <p class="card-text"><small class="text-muted">{{ comment.written_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% include 'layouts/sidebar.html' %}

    </div>


</div>

{% endblock %}