{% extends "layouts/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="section col-md-9">

            <div class="alert alert-warning" style="margin-top: 20px;" role="alert">
                Attention!Since heroku file storage is read-only, user account images feature not available yet.
            </div>

            {% for section in sections %}

            <div class="card d-flex">
                <div class="card-body">
                    <h5 class="card-title"><a class="link-secondary"
                            href="{{ url_for('themes_index', section_slug=section.slug) }}">{{ section.name }}</a></h5>
                    {% if section.description %}
                    <p class="card-text">
                        {{ section.description | truncate(100) }}
                    </p>
                    {% endif %}

                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            {% endfor %}

        </div>

        {% include "layouts/sidebar.html" %}

    </div>

</div>


{% endblock %}