.login-btn {
    margin-right: 20px;
}

.card {
    margin: 25px 0;
}

.link-secondary {
    text-decoration: none;
}
.link-secondary:hover {
    text-decoration: underline;
}

.tag {
    text-decoration: none;
}
.tag:hover {
    cursor: pointer;
    color: silver;
}
.heading {
    justify-content: space-between;
    margin-bottom: 25px;
}
.breadcrumb {
    margin-bottom: 0;
    line-height: 35px;
}
