{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center; margin-top: 15px;">Sign In</h1>

<form class="container col-md-4" method="POST" action="{{url_for('auth.login')}}">

    
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
    </div>
        
        {{ form.csrf_token }}
        {{form.submit(class="form-control btn btn-primary")}}
        
</form>

{% endblock %}