{% extends "layouts/base.html" %}
{% block content %}
<h1 style="text-align: center; margin-top: 15px;">Sign Up</h1>

<form class="container col-md-4" method="POST" action="{{url_for('auth.register')}}">

    {{ form.csrf_token }}

    {% from 'layouts/_render_form_errors.html' import render_form_errors %}
    {{ render_form_errors(form) }}

    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.nickname.label(class="form-label") }}
        {{ form.nickname(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
    </div>


    {{form.submit(class="form-control btn btn-primary")}}

</form>


{% endblock %}