{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="sections col-md-9">

            {% for section in sections %}
            
            <div class="card d-flex">
                <div class="card-body">
                    <h5 class="card-title"><a class="link-secondary" href="">{{ section.name }}</a></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="sidebar col-md-3">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Search that you need</div>
                <div class="card-body d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Popular tags</div>
                <div class="card-body text-secondary">

                    {% for tag in tags %}

                        <a class="tag badge bg-primary">{{ tag.name }}</a>

                    {% endfor %}
    
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}